/* ----------------------------------
   Hero Section - Styles
 ------------------------------------ */
.hero-3 {
    width: 100%;
    z-index: 1;
    overflow: hidden;
    position: relative;

    .single-slide {
        padding-top: 9rem;
        padding-bottom: 4rem;
        overflow: hidden;

        @media (max-width: 1200px) {
            padding-top: 8rem;
            padding-bottom: 4rem;
        }

        @media (max-width: 767px) {
            padding-top: 8rem;
        }

        .hero-mobile {
            position: relative;
            text-align: center;

            img {

                @media (max-width: 767px) {
                    max-width: 60%;
                }
            }

        }

        .hero-contents {
            position: relative;

            h1 {
                font-size: 5rem;
                line-height: 110%;
                margin-bottom: 20px;

                @media (max-width: 1400px) {
                    font-size: 80px;
                }

                @media (max-width: 1200px) {
                    font-size: 60px;
                }

                @media (max-width: 991px) {
                    font-size: 50px;
                }

                @media (max-width: 767px) {
                    font-size: 40px;
                }
            }

            p {
                margin-bottom: 10px;
                padding-right: 30px;
            }

            a {
                margin-top: 35px;
                display: inline-block;
                margin-right: 25px;

                @media (max-width: 991px) {
                    margin: 25px 10px 0px;   
                }

                @media (max-width: 767px) {
                    margin: 15px 5px 0px;   
                }
            }
        }

    }
}