/* ------------------------------------------------------------------
    Template All Variables Defined - Value Change with Your's Need
 -------------------------------------------------------------------- */
$white:#FFF;
$gray:#f4f7fd;
$red: #FF8888;
$base: #1085A9;
$black:#000000;
$blue: #01A0E1;
$pink: #FF681B;
$info: #FAA21A;
$green: #32C072;
$primary: #8DC63F;
$secondary: #F47102;

// Theme Color - Defualt Colors
$textcolor: #617686;
$section-bg: rgba(#02021E, 0.02);
$section-bg-black: #02021E;
$section-bg-2 : #E5E5E5;
$border-color: #E5E5E5;

$theme-color: #1A1AFF;
$second-color: #080F1E;

$heading-color: #02021E;

$box-shadow: 0px 15px 40px 0px rgba(109, 109, 109, 0.06);

$sticky-bg-1: $theme-color;